# VARIABLES GENERALES
DEPLOYIN=DEV #DEV PARA DESARROLLO ||| PROD PARA PRODUCCIÓN

# VARIABLES DE DESARROLLO (DEV)

SECRET_KEY_DEV=
JWT_SECRET_KEY_DEV=
API_FIND_USER_BY_EMAIL_DEV=
API_UPDATE_PASSWORD_DEV=
API_FIND_USER_BY_ID_DEV=
API_FIND_COMPANY_BY_ID_DEV=
EXPIRES_IN_DEV=
PORT_DEV=

# VARIABLES DE PRODUCCIÓN (PROD)

SECRET_KEY_PROD=
JWT_SECRET_KEY_PROD=
API_FIND_USER_BY_EMAIL_PROD=
API_UPDATE_PASSWORD_PROD=
API_FIND_USER_BY_ID_PROD=
API_FIND_COMPANY_BY_ID_PROD=
EXPIRES_IN_PROD=
PORT_PROD=